<!-- {%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
    
      <div class="announcement-bar color-{{ block.settings.color }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        
        <div class="announcement-left-div">
          <div class="menu-icon-div">
            {% include "icon.menu" %}
          </div>
          <div class="logo_image_div">
            {%- when 'logo' -%}
              {%- if block.settings.logo != blank -%}
                {%- assign image_size = block.settings.logo_width | append: 'x' -%}
                  <img 
                  src="{{ block.settings.logo | img_url: image_size}}"
                  class="logo_image"
                  loading="lazy"
                  width="{{ section.settings.logo.width }}"
                  height="{{ section.settings.logo.height }}"
                >
              
              {%- else -%}
                <span class="no-logo">{{shop.name}}</span>
              {%- endif -%}
            </div>
            <div class="shop-name-div">
              {{shop.name}}
            </div>
          </div>
          <div class="announcement-right-div"> 
            <div class="location-icon-div">
                <div class="location-text">Find a Shop</div>
                <div>{% include 'icon.location' %}</div>
            </div>
    
              <div class="order-now-button-div"> 
                <button class="order-now-button">Order now</button>
              </div>
            </div> 
            
            <div class="mobile-announcement-bar">
              <div class="mobile-menu-icon-div">
                {% include "icon.menu" %}
              </div>
              <div class="mobile-logo-div">
                {%- when 'logo' -%}
              {%- if block.settings.logo != blank -%}
                {%- assign image_size = block.settings.logo_width | append: 'x' -%}
                  <img 
                  src="{{ block.settings.logo | img_url: image_size}}"
                  class="logo_image"
                  loading="lazy"
                  width="{{ section.settings.logo.width }}"
                  height="{{ section.settings.logo.height }}"
                >
              
              {%- else -%}
                <span class="no-logo">{{shop.name}}</span>
              {%- endif -%}
              </div>
              <div class="mobile-order-now-button">
                <button class="order-now-button">Order now</button>
              </div>
            </div>

      </div>
      
      
  {%- endcase -%}
{%- endfor -%} -->

<!-- {% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "settings": [
  {
    "type": "color",
    "id": "background_color",
    "label": "Background Color"
  }],
  "blocks": [
    { 
      "type": "logo",
      "name": "Logo Picker",
      "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "logo"
        },
        {
          "type": "range",
          "id": "logo_width",
          "min": 50,
          "max": 250,
          "step": 10,
          "default": 100,
          "unit": "t:sections.header.settings.logo_width.unit",
          "label": "t:sections.header.settings.logo_width.label"
        }
        ]
    },
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "background-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
            },
            {
              "value": "accent-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %} -->
